.main-content-wrapper .header-area .logo {
    margin-bottom: 30px;
    display: block;
}

.bid_btn a {
    background: #fbb710;
    color: white;
    height: 30px;
    width: 30%;
    text-align: center;
    display: block;
    padding: 6px 3px;
    font-size: 14px;
}

.card span a:hover {
    color: #fbb710;
}



