<div class="user"></div>

<div class="user_board" style="font-family: Arial, Helvetica, sans-serif;">
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-top:90px;">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <h4 style="color:white; text-align: center;" >Register Here..!</h4>
      <hr>
        <form>
          <div class="form-group">
            <label  style="color:white" for="username">Username</label>
            <input type="text" class="form-control" placeholder="Enter Username">
          </div>
          <div class="form-group">
            <label  style="color:white" for="password">Email</label>
            <input type="email" class="form-control" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label  style="color:white" for="mobile">Mobile Number</label>
            <input type="tel" class="form-control" placeholder="Mobile Number">
          </div>
          <div class="form-group">
            <label  style="color:white" for="password">Password</label>
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
              <label  style="color:white" for="cpassword">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Confirm Password">
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-dark">Register</button>
            </div>

            <div style="margin-top:20px;">
              <p>Already Have An Account ? <a style="color: black; font-size:14px;" routerLink="/"><b>LOG IN</b></a></p>
            </div>
        </form>
    </div>
  </div>
</div>

</div>


