<div class="main_wrapper"  style="font-family: Arial, Helvetica, sans-serif;">
    <div class="row justify-content-center " style="margin-top:20px;">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <h5>Bid History</h5>
          <div class="card shadow p-3 mb-5 bg-white rounded" style="margin-top:20px; padding: 30px 15px;">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <h6>Bidders: <span>06</span></h6>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                  <h6>Bids: <span>12</span></h6>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4">
                    <h6>Time-Left: <span>5 days 20 hours 20 mins</span></h6>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                      <h6>Bidders: <span>06</span></h6>
                    </div>
            </div>

            <p style="margin-top:15px;">Only actual bids are shown.</p>

            <div class="row" style="margin-top:20px;">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="content">
                  <table>
                    <thead>
                      <tr>
                        <th class="bidder">Bidder</th>
                        <th class="b_amt">Bid Amount</th>
                        <th class="b_time">Bid Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="bidder">2***a(123*)</td>
                        <td class="b_amt">US $58</td>
                        <td class="b_time">22 Apr 2019 at 3:00 PM</td>
                      </tr>
                      <tr>
                          <td class="bidder">2***a(123*)</td>
                          <td class="b_amt">US $58</td>
                          <td class="b_time">22 Apr 2019 at 3:00 PM</td>
                        </tr>
                        <tr>
                            <td class="bidder">2***a(123*)</td>
                            <td class="b_amt">US $58</td>
                            <td class="b_time">22 Apr 2019 at 3:00 PM</td>
                          </tr>
                          <tr>
                              <td class="bidder">2***a(123*)</td>
                              <td class="b_amt">US $58</td>
                              <td class="b_time">22 Apr 2019 at 3:00 PM</td>
                            </tr>
                            <tr>
                                <td class="bidder">2***a(123*)</td>
                                <td class="b_amt">US $58</td>
                                <td class="b_time">22 Apr 2019 at 3:00 PM</td>
                              </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3" style="margin-top:44px;">
          <div class="card shadow p-3 mb-5 bg-white rounded">
              <h6><small>Item info</small></h6>
              <div class="pro_img" style="margin-top:20px;">
                <div class="pro_thumb">
                  <img src="../../../assets/s.png" width="90px" height="90px" >
                </div>
                <div class="pro_title">
                  <h6>Jordan shoes</h6>
                </div>
              </div>
              <div class="item_content" style="margin-top:30px;">
                <div class="single_input" style="display:flex; justify-content:space-between;">
                  <div class="single_title">
                    <h6><small>Current Bid: </small></h6>
                  </div>
                  <div class="single_bid">
                    <h6>US $58</h6>
                  </div>
                </div>
                <div class="single_input" style="display:flex; justify-content:space-between;">
                    <div class="single_title">
                      <h6><small>Shipping: </small></h6>
                    </div>
                    <div class="single_bid">
                      <p>Check in the description</p>
                    </div>
                  </div>
                  
                  <p style="font-size:12px;">Enter your maximum bid:</p>
                  <div class="bid_btn" style="display: flex; justify-content: center; margin-top: 5px;">
                      <input type="text"><a>Place Bid</a>
                    </div>
                    <p style="font-size:12px;">(Enter US $57.00 or more)</p>
              </div>
          </div>
        </div>



      </div>
</div>