<div class="row justify-content-center">
  <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
      <div class="card shadow p-3 mb-5 bg-white rounded" style="margin-top:40px;">

          <div class="pro_img" style="margin-top:20px;">
              <div class="pro_thumb">
                <img src="../../../assets/s.png" width="190px" height="190px" >
              </div>
              <div class="pro_title" style="margin-left:20px;">
                <h3>Jordan shoes</h3>
                <h4 style="margin-left:40px;margin-top:60px;">Suggested Offer $8.90</h4>
              </div>
            </div>
            <hr>


          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-4 col-sm-6 col-xs-6">
                <div class="card " style="background-color:whitesmoke; margin-top:20px;">
                    <div class="row justify-content-center" style="margin-top:20px;">
                        <p><b>Your Offer</b>(shipping included)</p>
                        <div class="inner_input">
                            <span class="text-wrapper" style="display: inline-block; margin: 0px; padding: 8px; font-size: 36px; color: rgb(0, 0, 0); line-height: normal; vertical-align: middle; width: 233px;">
                                <span class="curr">$</span>
                                <input type="number" class="form-control" placeholder="7.99" style="display: inline; border: none; background: none; margin: 0px; padding: 0px; float:right;">
                              </span>
                        </div>
                      <div class="qty" style="margin-top:10px;">
                        <label for="qty">QUANTITY</label>
                        <input type="number" class="form-control" placeholder="1">
                      </div>
                      <div class="comment" style="margin-top:10px;">
                          <label>Add a Comment</label>
                          <textarea name="comment" class="form-control" id="comment" cols="25" rows="3" placeholder="Add Comment Here"></textarea>
                      </div>
                      <div class="text-center" style="margin: 20px 0;">
                          <button type="submit" routerLink="/bargain" name="addtocart" value="5" class="btn amado-btn">Send Offer</button>
                        </div>
                        
                    </div>
                  </div>
            </div>
          </div>
        </div>
  </div>
</div>