.curr {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-family: "Lucida Grande",Arial,sans-serif;
}

.text-wrapper {
    border-style: solid;
    border-width: 1px;
    border-color: #d2d2d2 #d2d2d2 #e2e2e2 #e2e2e2;
    background: #fff url(/images/css/text-field-shadow.png?1550605132) repeat-x scroll left top;
    padding: 8px;
    width: 220px;
}

.card input {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    color: grey;
    // color: #40a014;
    font-weight: bold;
    font-size: 24px;
    width: 120px;
    vertical-align: middle;
}

.card .qty input {
    height: 40px;
    margin-left: 5px;
}

.pro_img {
    display: flex;
}



