.main-content-wrapper .header-area .logo {
    margin-bottom: 30px;
    display: block;
}



.form-control {
        height: 60px;
        border: none;
        border-radius: 0;
        background-color: #f5f7fa;
        padding: 30px;
        color: #6b6b6b;
        font-size: 14px;
    }
    textarea.form-control {
        height: 210px;
    }
    .custom-control label {
            padding-left: 20px;
            font-size: 14px;
            color: #6b6b6b;
    }
    .nice-select {
        border-radius: 0;
        height: 60px;
        line-height: 60px;
        background-color: #f5f7fa;
        border: none;
        color: #6b6b6b;
        font-size: 14px;
        .list {
            width: 100%;
            border-radius: 0;
            background-color: #f5f7fa;
        }
    }
